.page-ul {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}
.page-ul li {
  display:inline;
  padding-left: 10px;
  padding-right: 10px;
}
.page-ul li a:hover {
  cursor: pointer;
}

.selected a{
  text-decoration: underline;
  color: blue;
}
